<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" defer></script>
    <title>Home | File depot</title>
</head>
<body>
    <%- include("./partials/navbar.ejs")%>
    <main class="index__main-container">
        <aside>
            <button class="sidebar-button open-file-upload-dialog">New File</button>
            <button class="sidebar-button open-create-folder-dialog">New Folder</button>
            <hr class="sidebar-break">
            <% if(locals.currentFolderId === undefined){ %>
                <a class="sidebar-button folder-button selected-folder" href="/home" style="width: 100%;">
                    <%= locals.currentUser.username %>
                </a>
            <% }else{ %>
                <a class="sidebar-button folder-button" href="/home" style="width: 100%;">
                    <%= locals.currentUser.username %>
                </a>
            <% } %>
            <% if(locals.folderList.length !== 0){ %>
            <% folderList.map(folder => { %>
                <div class="folder-container">
                    <% if(locals.currentFolderId === folder.id){ %>
                        <a class="sidebar-button folder-button selected-folder" href="/home/<%= folder.id %>">
                            <%= folder.name %> 
                        </a>
                    <% }else{ %>
                        <a class="sidebar-button folder-button" href="/home/<%= folder.id %>">
                            <%= folder.name %> 
                        </a>
                    <% } %>
                    <a class="sidebar-button folder-delete-button" href="/home/folder/delete/<%= folder.id%>">&#215;</a>
                </div>
            <% }) %>
            <% } %>
        </aside>
        <section class="filesview-container">
            <div class="filesview-wrapper">
                <div class="filesview-row filesview-header">
                    <p>Name</p>
                    <p>Size</p>
                    <p>Created</p>
                </div>
                <% if(locals.filesList){ %>
                    <% filesList.map(file => {  %>
                        <div class="filesview-row filesview-content">
                            <p><%= file.name%></p>
                            <p><%= `${file.size_in_bytes}` %></p>
                            <p><%= `${file.createdAt}` %></p>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </section>
        <%- include("./partials/dialog-file-upload.ejs") %>
        <%- include("./partials/dialog-folder-create.ejs") %>
    </main>
    </body>
</html>