<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" defer></script>
    <title>Home | File depot</title>
</head>
<body>
    <%- include("./partials/navbar.ejs")%>
    <main class="index__main-container">
        <aside>
            <button class="index__sidebar-button open-file-upload-dialog">New File</button>
            <button class="index__sidebar-button open-create-folder-dialog">New Folder</button>
            <% if(locals.folderList.length !== 0){ %>
            <hr class="sidebar-break">
            <% folderList.map(folder => { %>
                <a class="index__sidebar-button" href="/home/<%= folder.name %>"> <%= folder.name %> </a>
            <% }) %>
            <% } %>
        </aside>
        <section>
            <div>
            </div>
        </section>
        <%- include("./partials/dialog-file-upload.ejs") %>
        <%- include("./partials/dialog-folder-create.ejs") %>
    </main>
    </body>
</html>