<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/dialog.css" rel="stylesheet" type="text/css">
    <link href="/css/fileInfo.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" defer></script>
    <script src="/js/displayFileInfo.js" defer></script>
    <% if(locals.currentFolderId !== undefined){ %>
        <script src="/js/deleteFolder.js" defer></script>
        <script src="/js/renameFolder.js" defer></script>
    <% } %>
    <title>Home | File depot</title>
</head>
<body>
    <%- include("./partials/navbar.ejs")%>
    <main class="index__main-container">
        <aside class="sidebar-container">
            <button class="sidebar-button open-file-upload-dialog" title="Upload new file"><img src="/images/new-file.png" alt="new file icon">New File</button>
            <button class="sidebar-button open-create-folder-dialog" title="Create new folder"><img src="/images/new-folder.png" alt="new folder icon">New Folder</button>
            <% if(locals.currentFolderId !== undefined){ %>
                <button class="sidebar-button open-delete-folder-dialog" title="Delete current folder"><img src="/images/delete.png" alt="delete icon">Delete Folder</button>
                <button class="sidebar-button open-rename-folder-dialog" title="Rename current folder"><img src="/images/rename.png" alt="rename icon">Rename Folder</button>
            <% } %>
            <hr class="sidebar-break">
            <% if(locals.currentFolderId === undefined){ %>
                <a class="sidebar-button folder-button selected-folder" href="/home" style="width: 100%;" title="Home">
                    <img src="/images/home.png" alt="home icon">
                    <%= locals.currentUser.username %>
                </a>
            <% }else{ %>
                <a class="sidebar-button folder-button" href="/home" style="width: 100%;" title="Home">
                    <img src="/images/home.png" alt="home icon">
                    <%= locals.currentUser.username %>
                </a>
            <% } %>
            <% if(locals.folderList.length !== 0){ %>
            <% folderList.map(folder => { %>
                <div class="folder-container">
                    <a class="sidebar-button folder-button" href="/home/<%= folder.id %>" title="<%= folder.name %>">
                        <img src="/images/child-folder.png" alt="home icon">
                        <%= folder.name %> 
                    </a>
                </div>
            <% }) %>
            <% } %>
        </aside>
        <section class="filesview-container">
            <div class="file-path-indicator">
                <% if(locals.currentFolderId === undefined){ %>
                    <a class="file-path-link current-file-path" href="/home"><%= locals.currentUser.username %></a>
                <% }else{ %>
                    <a class="file-path-link" href="/home"><%= locals.currentUser.username %></a>
                <% } %>
                <% if(locals.filePath){ %>
                    <% filePath.forEach(path => { %>
                        <span class="file-path-seprator"> > </span>
                        <% if(locals.currentFolderId === path.id){ %>
                            <a class="file-path-link current-file-path" href="/home/<%= path.id %>"> <%= path.name %></a>
                        <% }else{ %>
                            <a class="file-path-link" href="/home/<%= path.id %>"> <%= path.name %></a>
                        <% } %>
                    <% }) %>
                <% } %>
            </div>
            <div class="filesview-wrapper">
                <div class="filesview-row filesview-header">
                    <p>Name</p>
                    <p>Size</p>
                    <p>Created</p>
                </div>
                <% if(locals.folderList.length === 0 && locals.filesList.length === 0){ %>
                    <div class="no-file-no-folder-para">
                        <p>No file or folder to display.</p>
                    </div>
                <% } %>
                <% if(locals.childFolders){ %>
                    <% childFolders.map(folder => {  %>
                        <a class="filesview-row filesview-content" href="/home/<%= folder.id %>" title="<%= folder.name %>">
                            <div>
                                <img src="/images/folder.svg">
                                <p><%= folder.name%></p>
                            </div>
                            <p>===</p>
                            <p><%= `${folder.createdAt}` %></p>
                        </a>
                    <% }) %>
                <% } %>
                <% if(locals.filesList){ %>
                    <% filesList.map(file => {  %>
                        <div class="filesview-row filesview-content uploaded-files" title="<%= file.name %>" data-id="<%= file.id %>" data-name="<%= file.name %>" data-size="<%= file.size_in_bytes %>" data-date="<%= file.createdAt %>" data-type="<%= file.type %>" date-id="<%= file.id %>">
                            <div>
                                <img src="/images/file.svg">
                                <p><%= file.name%></p>
                            </div>
                            <p><%= `${file.size_in_bytes}` %></p>
                            <p><%= `${file.createdAt}` %></p>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </section>

        <% if(locals.currentFolderId !== undefined){ %>
            <%- include("./partials/dialog-rename-folder.ejs") %>
            <%- include("./partials/dialog-delete-folder.ejs") %>
        <% } %>

        <%- include("./partials/dialog-file-upload.ejs") %>
        <%- include("./partials/dialog-folder-create.ejs") %>
    </main>
    <div class="file-info-div hide-info"></div>
    </body>
</html>